.container {
    display: grid;
    grid-template-columns: 25% 50%;
    gap: 50px;
    justify-content:center;
    padding-top: 20px;
    background-color: #EEE3AB;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
}

.list {
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
    padding: 10px;
    margin-top: 15%;
    background-color: #80A1C1;
    max-height: 75%;
    border-radius: 15px;
}

.list h1 {
    align-self: center;
    margin-bottom: 20px;
}

.list button {
    width: min-content;
    align-self: center;
    margin-top: 20px;
}

.plant {
    display: flex;
    /* border: 5px solid purple; */
    justify-content:center;
    align-items:center;
    max-height: 75%;
    margin-top: 80px;
}

img {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    image-rendering: pixelated;
}